/* home.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f7f7f7; /* Light background color */
  }
  
  .title {
    font-size: 3rem;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  p {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .photo {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 60%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="file"] {
    display: block;
    margin: 20px auto;
    font-size: 1rem;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 4px;
    background-color: #f0f0f0;
  }
  
  input[type="submit"] {
    display: block;
    margin: 20px auto;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  div {
    text-align: center;
  }
  